{% extends 'base.html.twig' %}

{% block title %}
    Modifier la catégorie : {{ category.name }} 
{% endblock %}

{% block body %}
	<h1>Modifier la catégorie : {{ category.name }}</h1>
    <img src="{{ asset('/uploads/') }}{{ category.image }}" width="50">
    <br>
    {{ form(editForm) }}
    
{% endblock %}
